# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [23]:
import numpy as np
import pandas as pd

# Challenge - Inside a function
You are already familiar with several built in functions on python as well as libraries. Let's try to figure out how they are made in pure python.

Create a function that returns the count of a list of numbers

In [24]:
# Your code here:

def count_numbers(lst):
    return len(lst)

count_numbers([2,4,1,4,2])

5

Create a function that returns the mean of a list of numbers

In [25]:
# Your code here:

def mean_numbers(lst):
    return round(sum(lst)/len(lst), 2)

mean_numbers([4,7,1,4,0,7])

3.83

Create a function that returns the standard deviation of a list of numbers using the previous functions you created.

In [26]:
# Your code here:


def stdev_num(lst):
    x = (sum([(el - mean_numbers(lst))**2 for el in lst])/(count_numbers(lst) - 1))**(1/2)
    return x

stdev_num([2,4,6])

2.0

Create a function that returns the count, mean and standard deviation of a given list. Document this function using triple quotes, your documentation should have description, parameters, returns and examples.

In [27]:
# Your code here:

def count_mean_stdev(lst):
    """
    The fuction returns the count, mean and standard deviation of a given lst, that's a list.
    
    Example:
    
    [input]: count_mean_stdev([2,4,6])
    [output]: count = 3
              mean = 6
              standard deviation = 2
    """
    
    print(f'''
        count = {count_numbers(lst)}
        mean = {mean_numbers(lst)}
        standard deviation = {stdev_num(lst)}
        ''')

count_mean_stdev([2,4,6])

        count = 3
        mean = 4.0
        standard deviation = 2.0

# Challenge  - String Cleaning
When working with textual data you will often have to clean it before being able to analyze it. Create a function that receives a string and returns that string in all lower case, without special characters and in alphabetical order.

In [28]:
# Your code here:

def clean_string(string):
    lst = []
    y = sorted(string.lower())
    for el in y:
        if el.isalnum():
            lst.append(el)
    return ''.join(lst)
        
clean_string('JUPYTER!#$@#$!$!')

'ejprtuy'

# Challenge  - Classification
Sometimes datasets provide very good and precise information but not in the way we need to use it. In this challenge, make a function that takes a numeric value (age or income for example) and turns it into a category (could be from Very Low to Very High or rated from 0 to 10).

In [29]:
# Your code here:

def age_to_category(age):
    if age < 18:
        return 'Young'
    if 18 <= age <= 60:
        return 'Adult'
    if age > 60:
        return 'Old'

age_to_category(56)

'Adult'

# Challenge  - Recursion 
In some cases it is interesting to build a function that calls itself. Use a recursive function that asks for an input from the users age and keeps asking for it until the input is a number between 0 and 150.

In [30]:
# Your code here:

def ask_user():
    num = int(input('Input a number: '))
    if 0 <= num <= 150:
        pass
    else:
        ask_user()
        
ask_user()

Input a number: 3

# Challenge - Global and local variables

Make a function that returns the buzz string in alphabetical order

In [31]:
buzz = "Big Data, Machine Learning, AI, Data Warehouse, Pipeline"

def sorted_string(string):
    return ''.join(sorted(string))

sorted_string(buzz)

'       ,,,,ABDDILMPWaaaaaaaceeeeeegghhiiiiilnnnnoprrsttu'

Make a function without return that modifies the buzz string and puts it in alphabetical order

In [32]:
buzz = "Big Data, Machine Learning, AI, Data Warehouse, Pipeline"

def sorted_string(string):
    ''.join(sorted(string))
    
sorted_string(buzz)

# Bonus Challenge  - Applying Functions to DataFrames

In this challenge, we will look at how to transform cells or entire columns at once.

In [33]:
import pandas as pd

In [34]:
iris_numeric = pd.DataFrame(data =[[5.1,3.5,1.4,0.2], [4.9,3,1.4,0.2],[4.7,3.2,1.3,0.2],[4.6,3.1,1.5,0.2],[5,3.6,1.4,0.2],[5.4,3.9,1.7,0.4],[4.6,3.4,1.4,0.3],[5,3.4,1.5,0.2],[4.4,2.9,1.4,0.2],[4.9,3.1,1.5,0.1]],columns = ['sepal_length', 'sepal_width', 'petal_length','petal_width'])

Let's look at the dataset using the `head` function.

In [35]:
# Your code here:

iris_numeric.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

Let's start off by using built-in functions. Try to use the numpy mean function and describe what happens in the comments of the code.

In [36]:
iris_numeric.mean()

sepal_length    4.86
sepal_width     3.31
petal_length    1.45
petal_width     0.22
dtype: float64

Next, we'll use the standard deviation function in numpy (np.std). Describe what happened in the comments.

In [37]:
np.std(iris_numeric)

sepal_length    0.276405
sepal_width     0.291376
petal_length    0.102470
petal_width     0.074833
dtype: float64

The measurements are in centimeters. Let's convert them all to inches. We will write a function that converts centimeters to inches in the cell below. Recall that 1cm = 0.393701in.

In [38]:
def cm_to_in(x):
    x = 0.393701 * x
    return round(x,2)

cm_to_in(47)

18.5

Now convert all columns in `iris_numeric` to inches in the cell below. We like to think of functional transformations as immutable. Therefore, save the transformed data in a dataframe called `iris_inch`.

In [39]:
# Your code here:

iris_inch = cm_to_in(iris_numeric)

iris_inch

   sepal_length  sepal_width  petal_length  petal_width
0          2.01         1.38          0.55         0.08
1          1.93         1.18          0.55         0.08
2          1.85         1.26          0.51         0.08
3          1.81         1.22          0.59         0.08
4          1.97         1.42          0.55         0.08
5          2.13         1.54          0.67         0.16
6          1.81         1.34          0.55         0.12
7          1.97         1.34          0.59         0.08
8          1.73         1.14          0.55         0.08
9          1.93         1.22          0.59         0.04

We have just found that the original measurements were off by a constant. Define the global constant `error` and set it to 2. Write a function that uses the global constant and adds it to each cell in the dataframe. Apply this function to `iris_numeric` and save the result in `iris_constant`.

In [44]:
# Define constant below:

error = 2

def add_constant(x):
    # This function adds a global constant to our input.
    # Input: numeric value
    # Output: numeric value
    
    # Your code here:
    global error
    new_value = x + error
    return new_value

iris_constant = add_constant(iris_numeric)

iris_constant

,sepal_length,sepal_width,petal_length,petal_width,total_lenght,total_width
0,7.1,5.5,3.4,2.2,8.5,5.7
1,6.9,5.0,3.4,2.2,8.3,5.2
2,6.7,5.2,3.3,2.2,8.0,5.4
3,6.6,5.1,3.5,2.2,8.1,5.3
4,7.0,5.6,3.4,2.2,8.4,5.8
5,7.4,5.9,3.7,2.4,9.1,6.3
6,6.6,5.4,3.4,2.3,8.0,5.7
7,7.0,5.4,3.5,2.2,8.5,5.6
8,6.4,4.9,3.4,2.2,7.8,5.1
9,6.9,5.1,3.5,2.1,8.4,5.2

Read more about applying functions to either rows or columns [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) and write a function that computes the maximum value for each row of `iris_numeric`

In [41]:
# Your code here:

def max_value(df):
    return df.max()
    
max_value(iris_numeric)

sepal_length    5.4
sepal_width     3.9
petal_length    1.7
petal_width     0.4
dtype: float64

Compute the combined lengths for each row and the combined widths for each row using a function. Assign these values to new columns `total_length` and `total_width`.

In [42]:
# Your code here:

total_length = iris_numeric[['sepal_length', 'petal_length']].apply(np.sum,axis=1)
total_width = iris_numeric[['sepal_width','petal_width']].apply(np.sum,axis=1)

iris_numeric['total_lenght'] = total_length.values
iris_numeric['total_width'] = total_width.values

In [43]:
iris_numeric

,sepal_length,sepal_width,petal_length,petal_width,total_lenght,total_width
0,5.1,3.5,1.4,0.2,6.5,3.7
1,4.9,3.0,1.4,0.2,6.3,3.2
2,4.7,3.2,1.3,0.2,6.0,3.4
3,4.6,3.1,1.5,0.2,6.1,3.3
4,5.0,3.6,1.4,0.2,6.4,3.8
5,5.4,3.9,1.7,0.4,7.1,4.3
6,4.6,3.4,1.4,0.3,6.0,3.7
7,5.0,3.4,1.5,0.2,6.5,3.6
8,4.4,2.9,1.4,0.2,5.8,3.1
9,4.9,3.1,1.5,0.1,6.4,3.2