## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [191]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [192]:
sample_list_1 = random.sample(range(100), 80)
print(sample_list_1)

[40, 5, 95, 87, 67, 76, 27, 49, 44, 26, 81, 85, 18, 97, 86, 30, 33, 37, 41, 98, 65, 79, 32, 83, 25, 77, 3, 22, 56, 58, 29, 55, 84, 66, 99, 36, 60, 47, 9, 59, 91, 24, 78, 72, 90, 31, 68, 92, 82, 13, 35, 11, 17, 74, 89, 20, 75, 71, 7, 80, 16, 88, 38, 53, 46, 54, 34, 69, 61, 23, 15, 70, 64, 57, 28, 62, 42, 52, 10, 12]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [208]:
set1 = set(sample_list_1)
lenght_set1 = len(set1)
print(f'Set lenght = {lenght_set1}')

Set lenght = 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [194]:
sample_list_2 = []
for num in range(0, 80):
    sample_list_2.append(random.randrange(0,101))

print(sample_list_2)

[73, 100, 58, 72, 84, 49, 68, 40, 36, 24, 100, 80, 21, 32, 28, 34, 51, 69, 19, 39, 49, 18, 30, 10, 43, 51, 25, 14, 34, 10, 33, 40, 10, 24, 82, 39, 21, 64, 65, 31, 40, 98, 89, 4, 88, 64, 51, 1, 23, 20, 67, 100, 70, 54, 7, 3, 6, 30, 26, 49, 15, 67, 91, 46, 78, 94, 78, 72, 48, 80, 65, 99, 8, 9, 82, 86, 18, 35, 37, 94]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [195]:
set2 = set(sample_list_2)
print(f'set2 lenght = {len(set2)}')

set2 lenght = 56

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [196]:
set3 = set(set1 - set2)
print(set3)

{5, 11, 12, 13, 16, 17, 22, 27, 29, 38, 41, 42, 44, 47, 52, 53, 55, 56, 57, 59, 60, 61, 62, 66, 71, 74, 75, 76, 77, 79, 81, 83, 85, 87, 90, 92, 95, 97}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [197]:
set4 = set(set2 - set1)
print(set4)

{1, 4, 100, 6, 39, 8, 73, 43, 14, 48, 19, 51, 21, 94}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [198]:
set5 = set1.intersection(set2)
print(set5)

{3, 7, 9, 10, 15, 18, 20, 23, 24, 25, 26, 28, 30, 31, 32, 33, 34, 35, 36, 37, 40, 46, 49, 54, 58, 64, 65, 67, 68, 69, 70, 72, 78, 80, 82, 84, 86, 88, 89, 91, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [199]:
print(f'set1: lenght = {len(set1)}')
print(f'set2: lenght = {len(set2)}')
print(f'set3: lenght = {len(set3)}')
print(f'set4: lenght = {len(set4)}')
print(f'set5: lenght = {len(set5)}')
print('\n')
if len(set3) + len(set5) == len(set1):
    print(True)
    print(f'len(set3) + len(set5) = {(len(set3) + len(set5))} = len(set1)')
print('\n')
if len(set4) + len(set5) == len(set2):
    print(True)
    print(f'len(set4) + len(set5) = {(len(set4) + len(set5))} = len(set2)')

set1: lenght = 80
set2: lenght = 56
set3: lenght = 38
set4: lenght = 14
set5: lenght = 42


True
len(set3) + len(set5) = 80 = len(set1)


True
len(set4) + len(set5) = 56 = len(set2)

#### Create an empty set called `set6`.

In [200]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [201]:
set6.update(set3, set5)
print(set6)

{3, 5, 7, 9, 10, 11, 12, 13, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 40, 41, 42, 44, 46, 47, 49, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 95, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [202]:
if set1 == set6:
    print('set1 and set6 are equal')
else:
    print(False)

set1 and set6 are equal

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [203]:
if set2.issubset(set1):
    print('set1 contains set2')
else:
    print("set1 doesn't contain set2")
    
if set3.issubset(set1):
    print('set1 contains set3')
else:
    print("set1 doesn't contain set3")

set1 doesn't contain set2
set1 contains set3

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [204]:
union1 = set3.union(set4, set5)
union2 = set1.union(set2)

if union1 == union2:
    print('The aggregated values are equal')
else:
    print('The aggregated values are different')

The aggregated values are equal

#### Using the `pop` method, remove the first element from `set1`.

In [205]:
set1.pop()

3

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [206]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for num in list_to_remove:
    if num in set1:
        set1.remove(num)
print(set1)

{5, 7, 10, 12, 13, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 38, 40, 42, 44, 46, 47, 52, 53, 54, 55, 56, 57, 58, 60, 62, 64, 65, 66, 67, 68, 70, 72, 74, 75, 76, 77, 78, 80, 82, 83, 84, 85, 86, 87, 88, 90, 92, 95, 97, 98}