# Lab - Object Oriented Programming

In [7]:
import pandas as pd
import numpy as np

# Challenge 2

In order to understand the benefits of simple object-oriented programming, we have to build up our classes from the beginning.

You'll use the following dataframe generator to test some things. Try to understand what the following function does.

In [8]:
chars = ['a', 'b', 'c','d', 'e', 'f', ' ', 'á','é','ó']

def create_weird_dataframe(size=10):
    def create_weird_colnames(size=size):
        probs = [.2,.2,.15,.1,.1,.1,.05,.05,.025,.025]

        return [''.join(
            [(char.upper() if np.random.random() < 0.2 else char) 
                     for char in np.random.choice(chars,size=12, p=probs)]) for i in range(size)]
    
    data = np.random.random(size=(size,size))
    colnames = create_weird_colnames(size)
    return pd.DataFrame(data=data, columns=colnames)

Test the results of running that function below. Run it several times

In [9]:
df = create_weird_dataframe()
df.head()

,fcedCccefAF,acáádDbefAcf,ócbAbefaFfcc,ebcdFÓdacabe,bcfaéÉceaCB,bAcBfaacéacá,EccdóCbaccAa,BaEéafcfdFca,aCacffaácCbf,EbcáE eAbaÁE
0,0.399986,0.791267,0.763078,0.940507,0.540369,0.045483,0.994423,0.120453,0.982264,0.370787
1,0.944602,0.948821,0.244941,0.124379,0.495023,0.327472,0.751905,0.348638,0.634395,0.829372
2,0.742716,0.030993,0.099945,0.094220,0.221812,0.227733,0.215411,0.321438,0.096199,0.795811
3,0.338835,0.223614,0.845158,0.439783,0.316450,0.758035,0.849575,0.544306,0.874356,0.085688
4,0.895050,0.738288,0.434694,0.254903,0.521487,0.938081,0.880934,0.087230,0.414080,0.115307

## Correcting the column names

We'll create a function that rename the weird column names. The idea is to, later, extend that idea to our own brand new dataframe class.

### let's start simple: get the column names of the dataframe.

Store it in a variable called `col_names`

In [10]:
col_names = df.columns

### Let's iterate through this columns and transform them into lower-case column names

Create a list comprehension to do that if possible. Store it in a variable called `lower_colnames`

In [11]:
lower_colnames = [colname.lower() for colname in col_names]
lower_colnames

['fcedcccefaf ',
 'acááddbefacf',
 'ócbabefaffcc',
 'ebcdfódacabe',
 ' bcfaééceacb',
 'bacbfaacéacá',
 'eccdócbaccaa',
 'baeéafcfdfca',
 'acacffaáccbf',
 'ebcáe eabaáe']

### Let's remove the spaces of these column names!

Replace each column name space ` ` for an underline `_`. Again, try to use a list comprehension to do that. 
For this first task use `.replace(' ','')` method to do that.

In [12]:
no_space_colnames = [colname.replace(' ', '_') for colname in col_names]
no_space_colnames

['fcedCccefAF_',
 'acáádDbefAcf',
 'ócbAbefaFfcc',
 'ebcdFÓdacabe',
 '_bcfaéÉceaCB',
 'bAcBfaacéacá',
 'EccdóCbaccAa',
 'BaEéafcfdFca',
 'aCacffaácCbf',
 'EbcáE_eAbaÁE']

### Create a function that groups the results obtained above and return the lower case underlined names as a list

Name the function `normalize_cols`. This function should receive a dataframe, get the column names of a it and return the treated list of column names.

In [13]:
def normalize_cols(df):
    col_names = df.columns
    columns = [colname.replace(' ', '_').lower() for colname in col_names]
    return columns

### Test your results

Use the following line of code to test your results. Run it several times to see some behaviors.

In [14]:
normalize_cols(create_weird_dataframe())

['abbebfabdáóe',
 '_acccadefaca',
 'eáefbcbcáfce',
 'cbbbcd_dbaca',
 'aaábbeaccd_e',
 'fbedacbddead',
 'dbbdbcffaaad',
 'abaa_éfcáóba',
 'bbdabcééabcf',
 '_adaaccéébfc']

### hmmm, we've made a mistake!

We've commited several mistakes by doing this. Have observed any bugs associated with our results?

In order for us to see some problems in our results, we have to look for edge cases. 

For example: 

**Problem #1:** what if there are 2 or more following spaces? We want it to replace the spaces by several underlines or condense them into one?

**Problem #2:** what if there are spaces at the beginning? Should we substitute them by underline or drop them?

Let's correct each problem. Starting by problem 2.

## Correcting our function

Instead of substituting the spaces at first place, let's remove the trailing and leading spaces!

Recreate the `normalize_cols` with the solution to `Problem 2`.

*Hint: Copy and paste the last `normalize_cols` function to change it.*

In [15]:
def normalize_cols(df):
    columns = [col_name.strip().replace(' ', '_').lower() for col_name in df.columns]
    return columns

### Test your results again.

At least, for now, you should not have any trailing nor leading underlines.

In [16]:
normalize_cols(create_weird_dataframe())

['bbábbea_áebd',
 'a_óedbbdbb_f',
 'áafbbdbábbbf',
 'báddáaácaább',
 'befaé_effáad',
 'db_bécafdfaa',
 'abaadcábdbed',
 'aaaedba_bdab',
 'aaaadeaófáce',
 'áccadcafeac']

### Correcting problem 1

To correct problem 1, instead of using `.replace()` string method, we want to use a regular expression. Use the module `re` to substitute the pattern of `1 or more spaces` by 1 underline `_`.

Test your solution on the variable below:

In [17]:
import re 

text = 'these spaces      should all be one underline'

In [18]:
re.sub(' +', '_', text)

'these_spaces_should_all_be_one_underline'

### Now correct your `normalize_cols` function

*Hint: Copy and paste the last `normalize_cols` function to change it.*

In [19]:
def normalize_cols(df):
    columns = [col_name.strip().lower() for col_name in df.columns]
    columns = [re.sub(' +', '_', name_col) for name_col in columns]
    return columns

### Again, test your results.

Now, sometimes some column names should have smaller sizes (because you are removing consecutive spaces)

In [20]:
normalize_cols(create_weird_dataframe())

['abáffaáfeae',
 'abdbdbaá_cbc',
 'defé_bbacóf',
 'efdd_dbbfcba',
 'ccbaábacdbdf',
 'cfbcbaód_béa',
 'aaaácbeóc_eb',
 'fdddcefáfáca',
 'ef_ca_béabbc',
 'decóeóabddca']

## Last step: remove accents

The last step consists in removing accents from the strings.

Import the package `unidecode` to use its module also called `unidecode` to remove accents. Test on the word below.

In [21]:
text = 'aéóúaorowó'

In [22]:
from unidecode import unidecode

new_text = unidecode(text)
new_text

'aeouaorowo'

### Now remove the accents for each column name in your `normalized_cols` function.

*Hint: Copy and paste the last `normalize_cols` function to change it.*

In [47]:
def normalize_cols(df):
    columns = [unidecode(re.sub(' +', '_', col_name.strip().lower())) for col_name in df.columns]
    return columns

### Test your results

In [53]:
normalize_cols(create_weird_dataframe())

['aafocbfaoabf',
 'ebbdaabddaac',
 'aeaeaaadcaad',
 'eadaccfdaaee',
 'cdbbbaeffcee',
 'accdafabdaaa',
 'cabdadcdaecc',
 'bcfb_ocabbc',
 'adcbafffabbc',
 'baacdabacfeb']

## Good job. 

Right now you have a function that receives a dataframe and returns its columns names with a good formatting.

# Creating our own dataframe.

In [54]:
from pandas import DataFrame

A dataframe is just a simple class. It contains its own attributes and methods. 

When you create a pd.DataFrame() you are just instantiating the DataFrame class as an object that you can store in a variable. From this point onwards, you have access to all DataFrame class attributes (`.columns` for example) and methods (`.isna()` for example). We've been using those since always!

If we wish, we could create our own class inheriting everything from a DataFrame class.

In [55]:
class myDataFrame(DataFrame):
    pass

Instead of just creating myDataFrame, put your function inside your new inherited class, that is, transform `normalize_cols` into a method of your own DataFrame.

Remember you'll have to give self as the first argument of the `normalize_cols`. So you could replace everything you once called `dataframe` inside your `normalize_cols` by `self`. 

At the end, return the list of the correct names.

In [56]:
class myDataFrame(DataFrame):
    
    def normalize_cols(self):
        columns = [unidecode(re.sub(' +', '_', col_name.strip().lower())) for col_name in self.columns]
        return columns

Test your results.

In [62]:
df = myDataFrame(create_weird_dataframe())
df.normalize_cols()

['fbceacabod_d',
 'acoaeaaaabac',
 'ccbboaceceab',
 'baaa_fdfcdbc',
 'baboabccafca',
 'deef_bfedcbf',
 'acdbdbbbobde',
 'abbac_cbadb',
 'eedobaabadbc',
 'bbdaadadaaba']

## Understanding even more the `self` argument

Instead of returning a list containing the correct columns, you should now assign the correct columns to the `self.columns` - this will effectively replace the values of your object by the correct columns.


Now change your method to return the dataframe itself. That is, return the `self` argument this time and see the results! 

```python
class myDataFrame(DataFrame):
    def normalize_cos(self):
        ...
        return self
```

In [75]:
class myDataFrame(DataFrame):
    
    def normalize_cols(self):
        self.columns = [unidecode(re.sub(' +', '_', col_name.strip().lower())) for col_name in self.columns]
        return self
    
df = myDataFrame(create_weird_dataframe())
df.normalize_cols()

,daabc_bbcfo,f_bdbccaafae,ffbacaafaddc,bfacadbafaaf,aacfadbdbaac,efbdfeacbbda,cdecacdfbccb,a_aaaobbfcdd,afefbdcbfced,cbdbbe_beabc
0,0.291498,0.659176,0.661429,0.800597,0.577037,0.259029,0.687231,0.529516,0.102368,0.982495
1,0.869285,0.063379,0.726467,0.856177,0.523786,0.919790,0.534901,0.605975,0.412557,0.342002
2,0.330446,0.529021,0.850473,0.868193,0.807943,0.153691,0.501081,0.275848,0.335517,0.205071
3,0.339407,0.785990,0.227539,0.745846,0.283108,0.409661,0.255934,0.532059,0.685493,0.414070
4,0.949148,0.481939,0.753146,0.808952,0.526922,0.657037,0.431900,0.729210,0.293421,0.437993
5,0.582680,0.082317,0.388812,0.623783,0.601559,0.598453,0.472412,0.737530,0.621614,0.490616
6,0.969207,0.561144,0.294137,0.176131,0.537112,0.230584,0.307500,0.981054,0.394907,0.637881
7,0.294411,0.578781,0.823857,0.511156,0.699709,0.966461,0.361744,0.836870,0.959582,0.175731
8,0.755608,0.580260,0.592963,0.137301,0.177403,0.385705,0.324776,0.730602,0.514193,0.109583
9,0.567892,0.559305,0.522228,0.139975,0.635069,0.148848,0.082255,0.477741,0.232862,0.094020

# Challenge 1

## Creating a class

First of all, let's create a simple class. Name this class `Car`. ([PEP8](https://www.python.org/dev/peps/pep-0008/#class-names) suggests using CamelCase for class names, i.e., using the first letter of each name as upper-case.)

That should be as simple as possible. Use the class syntax to create it and its content should be only the 
```python 
pass
```
statement.


The `pass` statement is used just as a placeholder. This will be a class that doesn't do anything (yet).

In [ ]:
# your code here

In [ ]:
class Car:
    pass

In [ ]:
my_car = Car()

## Let's think of which attributes should a car have

Think of attributes that are intrinsic of a car. Think of 5 attributes that all cars have and their possible values. Write down these 5 attributes for later use.

In [ ]:
# write the attributes name you've chosen as a comment here.


We will create the `__init(self,)__` special method. This is the first thing that is run when you instantiate a new object (by calling `Car()` for example).

So each object that you are creating will instantly do whatever operation you perfom inside `__init(self,)__`. If you create new attributes over there, it will be accessible as soon as you create it. If you, instead, run some internal methods, it will perform as soon as the variable is created.

Let's check that.

### Create a `__init__(self)` special method inside your `Car` class and then perform a `for loop`  inside of it.

To see the what happens when you initialize your class when a `__init__(self)` method exists, define this function and plug the following piece of code inside of it.

```python
from tqdm.auto import tqdm
import time

for i in tqdm(range(10), desc='__init__ is running, yay'):
    time.sleep(.1)
```

In [ ]:
# your code here

In [ ]:
class Car:
    def __init__(self):
        from tqdm.auto import tqdm
        import time
        
        for i in tqdm(range(10), desc='__init__ is running, yay'):
            time.sleep(.1)

### Afterwards, instantiate your `Car` class and see this beauty.

In [ ]:
my_car = Car()

## Understanding the self argument

Now, below the `for loop` you've created, let's create the attributes of the `Car` class. Remember the attributes you wrote down earlier? Let's put them as arguments of the `__init__(self,)` function.

Remember, the first argument of the `__init__(self,)` function should always be the `self` keyword. 

The `self` argument represents the object itself. That is a way for you to have access to the objects own attribute.

### First, let's start creating one single attribute of this car.

Let's say you have chosen `name` as a car attribute (what? can't a car have a name?). 

If you want your class to receive a specific car name as an argument, you have to put this variable as the argument of the `__init__` function. So, to add `name`, the results of your special function definition would be:

```python
def __init__(self, name):
    pass
```

Now, when you instantiate your Car class, the syntax would be similar to calling a function (which, by now, you should now that it is what you are effectively doing - you are calling the __init__ method), so what the syntax would be:

*Hint: If you don't specify an argument, the python interpreter will complain that your class requires one argument (try that - if you don't try it now, it is not a problem, you'll try in future, even when you don't want to).*

In [ ]:
# your code here

### Now let's store that new argument

By now, you are only receiving the name of the car as an argument, but you are not doing anything specifically with that variable called `name`.

Let's store that in the object. That's the first use of the `self` keyword.

To store the variable in a way that the user can access via a `car.SOMETHING`, you have to specify that the object itself is receiving the attribute `name` (for example)

Then, **create a variable called `name` that receives the argument `name`** (keep in mind that the name of the variable need not necessarily be the same, you could assing the argument `name` to an attribute called `chimpanze` for example).

Also **create the other 5 attributes that you previously had in mind**

In [ ]:
# your code here

### Access the attribute

You should now be able to access the object's attribute once you instantiate it as `my_car.name`

You can try to write `my_car.<TAB>` to check what attributes or methods your object contains.

## Understanding special methods

Special methods are the ones that start with double underlines (usually called `dunder`), for example the `__init__` method, the `__doc__` method or `__repr__` method (called as `dunder init`, `dunder doc`, `dunder repr`).

The `__repr__` method is responsible to show how your class will be displayed on screen when you display it.
Let's create a `__repr__(self)` function on our `Car` class that returns the following string below (copy the string below):

```python
    car = f'''
                  ______--------___
                 /|             / |
      o___________|_\__________/__|
     ]|___     |  |=   ||  =|___  |"
     //   \\    |  |____||_///   \\|"
    |  X  |\--------------/|  X  |\"
     \___/                  \___/
    '''
```

Your class should now have two special methods, `__init__` and `__repr__`

In [ ]:
class Car:
    
    def __init__(self, car_name):
        self.car_name = car_name
    
    def __repr__(self):
        
        car = f'''
                      ______--------___
                     /|             / |
          o___________|_\__________/__|
         ]|___     |  |=   ||  =|___  |"
         //   \\    |  |____||_///   \\|"
        |  X  |\--------------/|  X  |\"
         \___/                  \___/
        '''
        
        return car

### Now instantiate your Car class again

In [ ]:
my_car = Car('Jeguinho')

### And check what happens when you print your object on screen

In [ ]:
print(my_car)

### Now create a simple method to receive and return the `self` variable

Create a simple method inside your `class Car` and return `self` the self argument. Name this method `get_itself`.

In [ ]:
class Car:
    
    def __init__(self, car_name):
        self.car_name = car_name
    
    def __repr__(self):
        
        car = f'''
                      ______--------___
                     /|             / |
          o___________|_\__________/__|
         ]|___     |  |=   ||  =|___  |"
         //   \\    |  |____||_///   \\|"
        |  X  |\--------------/|  X  |\"
         \___/                  \___/
        '''
        
        return car
    
    def get_itself(self):
        return self

#### Now instantiate the Car class and call `get_itself()`

In [ ]:
my_car = Car('andre')

In [ ]:
my_car.get_itself()

This happens because you are print this specific object.

# Bonus 1

### Now let's parametrize this drawing.

Change your class to receive the drawing you want to output as a parameter. Modify your __repr__ method to use that parameter instead of the fixed drawing we used upwards.

In [ ]:
class Car:
    
    def __init__(self, car_name, car):
        self.car_name = car_name
        self.car = car
        
    def __repr__(self):
        
        car = self.car
        
        return car
    
    def get_itself(self):
        return self

In [ ]:
car = f'''
              ______--------___
             /|             / |
  o___________|_\__________/__|
 ]|___     |  |=   ||  =|___  |"
 //   \\    |  |____||_///   \\|"
|  X  |\--------------/|  X  |\"
 \___/                  \___/
'''

my_car = Car(car_name = 'A', car=car)
my_car

In [ ]:
car = '''
                   _
 _________________| \_
|   ___    |  ,|   ___`-.
|  /   \   |___/  /   \  `-.
|_| (O) |________| (O) |____|
   \___/          \___/
'''

my_car = Car(car_name = 'B', car=car)
my_car

# Bonus 2

## Create a specialized version of a car - an Uber

You'll now create a specific version of a car. It contains the same attributes and functions of the class of cars, but it is specifically a Uber.

### Create a class called `Uber` that inherits from a `Car`

In [ ]:
# your code here

### Extending the `Car` class. 

When you create a new class based on another and create new attributes and methods for it, you are extending it. 

#### Let's create 2 new attributes that only `Uber cars` have. 

Create the `category` of the Uber (`Black`, `Platinun`, etc) and one more attribute of your choice.

#### Let's create a method for this new `Uber` class that calculates the price of the run given the distance in km and time spent (in minutes) in the run. 

Suppose each km costs `R$ 1,00` and 1 minute costs `R$ 0,50` for `Uber` Black and `R$ 1,20` and 1 minute costs `R$ 0,60` for `Uber`  Platinum.  The final price is the max between the two.

```python
def get_price(km, time):
    ...
    return final_price
```

Then calculate the price of your `Uber` from:

1. A `Uber Black` going from Ironhack to Guarulhos Airport (`1h:20min, 30.5km`)
1. A `Uber Platinum` going from Ironhack to Guarulhos Airport (`1h:20min, 30.5km`)

In [ ]:
black = Uber(..., category='Black')
black.get_price()

In [ ]:
platinum = Uber(..., category='Platinum')
platinum.get_price()